<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.anhnd.android_mvvm_di_hilt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.dev.anhnd.android_mvvm_di_hilt.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute"
        android:theme="@style/Theme.AndroidDeveloper"
        android:usesCleartextTraffic="true">
        <activity android:name="com.dev.anhnd.android_mvvm_di_hilt.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data android:name="io.sentry.dsn" android:value="https://7d2d3f91243f40559c869765c90554d4@o699998.ingest.sentry.io/5776793" />

    </application>

</manifest>